@font-face {
	font-family: 'Myriad Pro';
	src: url('fonts/MyriadProLightSemiExtended.eot');
	src: local('☺'), url('fonts/MyriadProLightSemiExtended.woff') format('woff'), url('fonts/MyriadProLightSemiExtended.ttf') format('truetype'), url('fonts/MyriadProLightSemiExtended.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


