.font-style() {
    font-family: 'Myriad Pro', 'sens-serif';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}

.background-color() {
    background-color: #fff;
}

.sprite() {
        width: 73px;
        height: 73px;
        display: inline-block;
        background: url("../images/sprite.png") 0 0 no-repeat;
        background-size: cover;
        position: absolute;
        left: -1px;
        top: -13px;
}

@color: #3d6cb0;
body {
    .font-style();
    .background-color();
}

section {
    margin: 50px 0;
}

.logo {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 109px;
    .logo-circle {
        height: 264px;
        width: 264px;
        font-size: 0;
        display: block;
        position: relative;
        background-color: #3d6cb0;
        border-radius: 50%;
        border-style: solid;
        border-width: 30px;
        border-color: #fff;
        margin: auto;
        margin-top: 1px;
        &:before {
            content: "";
            width: 232px;
            height: 232px;
            display: block;
            position: absolute;
            margin: auto;
            text-align: center;
            border-radius: 50%;
            border: #3d6cb0 solid 1px;
            top: -14px;
            left: -15px;
        }
        &:hover {}
    }
    .logo-name {
        font-size: 4.4em;
        margin: 0;
        line-height: 1;
        margin-top: 16px;
    }
    .logo-surname {
        font-weight: 900;
        font-size: 5em;
        margin: 0;
        line-height: 1;
        margin-top: -5px;
    }
    .logo-profession {
        font-weight: 700;
        font-size: 2em;
        margin: 0;
        line-height: 1;
        margin-top: 11px;
    }
}

.item {
    border-top: @color solid 5px;
    position: relative;
    margin-right: 25px;
    margin-left: 7px;
    margin-bottom: 78px;
    &:first-child {
        margin-bottom: 61px;
    }
    h1 {
        display: inline-block;
        color: @color;
        .background-color();
        top: -44px;
        text-transform: uppercase;
        font-size: 3.4em;
        font-weight: 900;
        position: relative;
        padding-left: 82px;
    }
    .item-text {
        font-size: 16px;
        margin-top: -30px;
        display: block;
        line-height: 18.7px;
        letter-spacing: -0.05px;
    }
}


/*container profile*/
.item-profile {
    margin-bottom: 96px;
}
.profile {
    &:before {
        content: "";
        .sprite();
        background-position: -367px 0;
    }
}

/*container contact*/
.item-contact {
    margin-bottom: 79px;
}
.contact {
        &:before {
        content: "";
        .sprite();
        background-position: -295px 0;
    }
}

 .contact + .item-table {
        display: table;
        font-size: 1.5em;
        position: relative;
        top: -5px;
        line-height: 1;
    .item-row {
        display: table-row;
        padding: 10px 0;
        .item-cell {
            display: table-cell;
            &:nth-child(1) {
                color: @color;
                padding-right: 51px;
                padding-bottom: 36px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        &:last-child {
            .item-cell {
                &:nth-child(1) {
                    padding-bottom: 0;
                }
            }
        }
    }
} 


/*container skills*/

.item {
    .skills {
        &:before {
            content: "";
            .sprite();
            background-position: -224px 0;
        }
    }
    .skills + div {
        position: relative;
        top: -19px;
        padding: 0 46px;
    }
    .skills-span {
        text-align: center;
        display: block;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 6px;
    }
    .creative {
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
        div {
            height: 18px;
            width: 18px;
            display: inline-block;
            background-color: #e6e6e6;
            border-radius: 50%;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: "";
                height: 18px;
                width: 18px;
                display: block;
                background-color: @color;
                border-radius: 50%;
            }
            &:nth-child(10):before,
            &:nth-child(11):before,
            &:nth-child(12):before {
                background-color: transparent;
            }
            
        }
    }
    .teamwork {
        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
        div {
            height: 18px;
            width: 18px;
            display: inline-block;
            background-color: #e6e6e6;
            border-radius: 50%;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: "";
                height: 18px;
                width: 18px;
                display: block;
                background-color: @color;
                border-radius: 50%;
            }
            &:nth-child(12):before {
                background-color: transparent;
            }
            
        }
    }
    
    .innovate {
                display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
        div {
            height: 18px;
            width: 18px;
            display: inline-block;
            background-color: #e6e6e6;
            border-radius: 50%;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: "";
                height: 18px;
                width: 18px;
                display: block;
                background-color: @color;
                border-radius: 50%;
            }
            &:nth-child(7):before,
            &:nth-child(8):before,
            &:nth-child(9):before,
            &:nth-child(10):before,
            &:nth-child(11):before,
            &:nth-child(12):before {
                background-color: transparent;
            }
            
        }
    }

    .communication {
                        display: flex;
        justify-content: space-between;
        margin-bottom: 19px;
        div {
            height: 18px;
            width: 18px;
            display: inline-block;
            background-color: #e6e6e6;
            border-radius: 50%;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: "";
                height: 18px;
                width: 18px;
                display: block;
                background-color: @color;
                border-radius: 50%;
            }
            &:nth-child(12):before {
                background-color: transparent;
            }
            
        }
    }
}


/* right column */

section:nth-child(2) {
    margin-top: 86px;
    padding-right: 0;
    .item {
        margin-right: 0;
        margin-left: 23px;
        &:first-child {
            margin-bottom: 68px;
        }
    }
    
}

/* conteiner eduction */
    .eduction {
        &:before {
            content: "";
            .sprite();
            background-position: -78px 0;
        }
    }

.eduction-container {
    position: relative;
    top: -14px;
}

.right-item-span-1 {
    font-size: 2em;
    display: inline-block;
    margin-left: 39px;
    position: relative;
    &:before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #000000;
        display: inline-block;
        position: absolute;
        left: -30px;
        top: 7px;
    }
    strong {
        color: @color;
        font-weight: 900;
        margin-left: 10px;
        letter-spacing: -1px;
        margin-right: 19px;
    }
}

.right-item-span-2 {
    font-size: 2.2em;
    display: block;
    margin-left: 48px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: -3.3px;
}

.right-item-span-3 {
    font-size: 1.2em;
    display: block;
    margin-left: 52px;
    margin-bottom: 6px;
    margin-top: 8px;
}

/* conteiner experience */
.item-eperience {
    margin-bottom: 82px;
}
.experience {
        &:before {
            content: "";
            .sprite();
            background-position: -2px 0;
        }
    }

.experience-span {
    strong {
        color: #000000;
    }
}

/* conteiner software */
    .software {
        &:before {
            content: "";
            .sprite();
            background-position: -2px 0;
        }
    }
.software-container {
    top: -10px;
    position: relative;
    .col-md-6 {
        margin-bottom: 12px;
        padding-left: 4px;
        padding-right: 32px;
        &:nth-child(2n) {
            padding-left: 0;
            padding-right: 0;
            padding-left: 38px;
        }
        div {
            width: 100%;
            height: 20px;
            background-color: #e6e6e6;
            margin: 16px 0;
            &:before {
                content: "";
                height: 100%;
                width: 100%;
                display: block;
                background-color: @color;
            }
            &.software-container-photoshop:before {
                width: 91%;
            }
             &.software-container-dreamweaver:before {
                width: 83%;
            }
             &.software-container-illustrator:before {
                width: 71%;
            }
             &.software-container-effects:before {
                width: 62%;
            }
             &.software-container-indesign:before {
                width: 56%;
            }
             &.software-container-html:before {
                width: 91%;
            }
        }
    }
    span {
        text-transform: uppercase;
        font-size: 24px;
        display: block;
        padding-top: 0px;
        line-height: 1em;
    }
}